
<div class="row">
	<div class= "col-md-4">
		<img src= "/assets/cheetah.jpg" class="img-circle" >
	</div>
</div>
<div class="row">

	<div class="col-md-4">
		<h1>The Cheetah Gang</h1>
	</div>
</div>
<br><br>


<div class= "row">
	<div class= "col-md-6">
		<div class="list-group">
  			<a href="#" class="list-group-item active">
    			<h4 class="list-group-item-heading">Database</h4>
    			<p class="list-group-item-text">Designing and analysing Database</p>
  				</a>
  				<a href="#" class="list-group-item inactive">
    			<p class="list-group-item-text">Vishal Juneja</p>
    			<p class="list-group-item-text">Sargam Sachdeva</p>
  				</a>
		</div>
	</div>
		<div class= "col-md-6">
		<div class="list-group">
  			<a href="#" class="list-group-item active">
    			<h4 class="list-group-item-heading">Ruby On Rails</h4>
    			<p class="list-group-item-text">Programming and Testing the Application</p>
  				</a>
  				<a href="#" class="list-group-item inactive">
    			<p class="list-group-item-text">Gagan Gupta</p>
    			<p class="list-group-item-text">Ankit Kumar</p>
  				</a>
		</div>
	</div>
</div>
<div class="row">	
	<div class= "col-md-6">
		<div class="list-group">
  			<a href="#" class="list-group-item active">
    			<h4 class="list-group-item-heading">UI/UX Design</h4>
    			<p class="list-group-item-text">Designing the web pages of Application</p>
  				</a>
  				<a href="#" class="list-group-item inactive">
    			<p class="list-group-item-text">Arun Dahiya</p>
    			<p class="list-group-item-text">Yogesh Tripathi</p>
  				</a>
		</div>
	</div>
		<div class= "col-md-6">
		<div class="list-group">
  			<a href="#" class="list-group-item active">
    			<h4 class="list-group-item-heading">Chat Server(NodeJS)</h4>
    			<p class="list-group-item-text">Designing+Coding of Chat App</p>
  				</a>
  				<a href="#" class="list-group-item inactive">
    			<p class="list-group-item-text">Cheetah</p>
    			<p class="list-group-item-text">A.K.A Rishabh Jain</p>
  				</a>
		</div>
	</div>
</div>
