<div class = "body">
	<div class = "row" > 
		<div class = "col-lg-3 col-sm-6 col-xs-12"></div>
		<img alt="BVICAM" src="/assets/rails.png" />
	</div>
	<div id = "padding_row">
		<div class = "row">
			<div class = "col-md-3"></div>
			<div class = "col-md-9">
				<h1>Welcome to National Students Convention</h1>
			</div>
		</div>
	</div>
</div>
