<div class = "row">
	<div class="col-md-4">
		<img src="/assets/RubyOnRails.png" class="img-rounded">
	</div>
	<div class="col-md-8">
		<h1>Welcome to National Students Convention</h1>
	</div>
</div>
